<li class="nav-item">
 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</li>
<li class="nav-item">
 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</li>
<li class="nav-item">
 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</li>
<li class="nav-item">
 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</li>